body, html {
  height: 100%;
  margin: 0%;
  font-family: 'Cutive Mono';
}

.imagen {
  background-image: url("Imagenes/fabian-blank-Gcfvc1Z8TXQ-unsplash.jpg");
  height: 100%;
  background-size: 683px;
}

.imagen-portada img {
  position:absolute;
  height:180px;
  top: 37%;
  left : 42%;
  border-radius: 47%;
  border: 15px solid white;
  border-style: dashed;
}

.titulopp {
  position: absolute;
  top: 73%;
  width: 100%;
  text-align: center;
  color: #000;
}

.titulopp span.texto_titulo {
  background-color: #111;
  color: #fff;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 15px;
}

.texto-informacion-perfil-a {
position: absolute;
top: 80%;
width: 100%;
text-align: center;
color: #000;
}

.texto-informacion-perfil-a span.texto-informacion-perfil {
background-color: #111;
color: #fff;
padding: 5 px;
font-size: 20px;
letter-spacing: 10px;
}

.creditos-imagen-fondo {
	color: red;
}
  
